# Time Series

## manipulasi dasar

In [4]:
import numpy as np
import pandas as pd

In [5]:
from datetime import datetime

###### mengimport libraries yang dibutuhkan untuk pembuatan data range

In [6]:
date_rng = pd.date_range(start='1/01/2020', end= '1/08/2020', freq= 'H')

###### memperoleh data dari 1 Januari 2020 hingga 1 Agustus 2020 dengan frekuensi per jam

In [7]:
date_rng

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               ...
               '2020-01-07 15:00:00', '2020-01-07 16:00:00',
               '2020-01-07 17:00:00', '2020-01-07 18:00:00',
               '2020-01-07 19:00:00', '2020-01-07 20:00:00',
               '2020-01-07 21:00:00', '2020-01-07 22:00:00',
               '2020-01-07 23:00:00', '2020-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [8]:
df = pd.DataFrame(date_rng, columns=['date'])

In [9]:
df['data']= np.random.randint(0,100, size = (len(date_rng)))

###### Menambahkan nomer yang random untuk data

In [10]:
df.head()

                 date  data
0 2020-01-01 00:00:00    20
1 2020-01-01 01:00:00    29
2 2020-01-01 02:00:00    41
3 2020-01-01 03:00:00    50
4 2020-01-01 04:00:00    71

In [11]:
df['datetime']=pd.to_datetime(df['date'])

In [12]:
df = df.set_index('datetime')

###### mengeset datetime sebagai index

In [13]:
df.drop(['date'], axis = 1, inplace = True)

In [14]:
df.head()

                     data
datetime
2020-01-01 00:00:00    20
2020-01-01 01:00:00    29
2020-01-01 02:00:00    41
2020-01-01 03:00:00    50
2020-01-01 04:00:00    71

In [15]:
string_date_rng = [str(x) for x in date_rng]

###### mengubah data_rng menjadi list of string yang kemudian string tersebut diubah menjadi stempel waktu

In [16]:
string_date_rng

['2020-01-01 00:00:00',
 '2020-01-01 01:00:00',
 '2020-01-01 02:00:00',
 '2020-01-01 03:00:00',
 '2020-01-01 04:00:00',
 '2020-01-01 05:00:00',
 '2020-01-01 06:00:00',
 '2020-01-01 07:00:00',
 '2020-01-01 08:00:00',
 '2020-01-01 09:00:00',
 '2020-01-01 10:00:00',
 '2020-01-01 11:00:00',
 '2020-01-01 12:00:00',
 '2020-01-01 13:00:00',
 '2020-01-01 14:00:00',
 '2020-01-01 15:00:00',
 '2020-01-01 16:00:00',
 '2020-01-01 17:00:00',
 '2020-01-01 18:00:00',
 '2020-01-01 19:00:00',
 '2020-01-01 20:00:00',
 '2020-01-01 21:00:00',
 '2020-01-01 22:00:00',
 '2020-01-01 23:00:00',
 '2020-01-02 00:00:00',
 '2020-01-02 01:00:00',
 '2020-01-02 02:00:00',
 '2020-01-02 03:00:00',
 '2020-01-02 04:00:00',
 '2020-01-02 05:00:00',
 '2020-01-02 06:00:00',
 '2020-01-02 07:00:00',
 '2020-01-02 08:00:00',
 '2020-01-02 09:00:00',
 '2020-01-02 10:00:00',
 '2020-01-02 11:00:00',
 '2020-01-02 12:00:00',
 '2020-01-02 13:00:00',
 '2020-01-02 14:00:00',
 '2020-01-02 15:00:00',
 '2020-01-02 16:00:00',
 '2020-01-02 17:00:00',
 '2020-01-02 18:00:00',
 '2020-01-02 19:00:00',
 '2020-01-02 20:00:00',
 '2020-01-02 21:00:00',
 '2020-01-02 22:00:00',
 '2020-01-02 23:00:00',
 '2020-01-03 00:00:00',
 '2020-01-03 01:00:00',
 '2020-01-03 02:00:00',
 '2020-01-03 03:00:00',
 '2020-01-03 04:00:00',
 '2020-01-03 05:00:00',
 '2020-01-03 06:00:00',
 '2020-01-03 07:00:00',
 '2020-01-03 08:00:00',
 '2020-01-03 09:00:00',
 '2020-01-03 10:00:00',
 '2020-01-03 11:00:00',
 '2020-01-03 12:00:00',
 '2020-01-03 13:00:00',
 '2020-01-03 14:00:00',
 '2020-01-03 15:00:00',
 '2020-01-03 16:00:00',
 '2020-01-03 17:00:00',
 '2020-01-03 18:00:00',
 '2020-01-03 19:00:00',
 '2020-01-03 20:00:00',
 '2020-01-03 21:00:00',
 '2020-01-03 22:00:00',
 '2020-01-03 23:00:00',
 '2020-01-04 00:00:00',
 '2020-01-04 01:00:00',
 '2020-01-04 02:00:00',
 '2020-01-04 03:00:00',
 '2020-01-04 04:00:00',
 '2020-01-04 05:00:00',
 '2020-01-04 06:00:00',
 '2020-01-04 07:00:00',
 '2020-01-04 08:00:00',
 '2020-01-04 09:00:00',
 '2020-01-04 10:00:00',
 '2020-01-04 11:00:00',
 '2020-01-04 12:00:00',
 '2020-01-04 13:00:00',
 '2020-01-04 14:00:00',
 '2020-01-04 15:00:00',
 '2020-01-04 16:00:00',
 '2020-01-04 17:00:00',
 '2020-01-04 18:00:00',
 '2020-01-04 19:00:00',
 '2020-01-04 20:00:00',
 '2020-01-04 21:00:00',
 '2020-01-04 22:00:00',
 '2020-01-04 23:00:00',
 '2020-01-05 00:00:00',
 '2020-01-05 01:00:00',
 '2020-01-05 02:00:00',
 '2020-01-05 03:00:00',
 '2020-01-05 04:00:00',
 '2020-01-05 05:00:00',
 '2020-01-05 06:00:00',
 '2020-01-05 07:00:00',
 '2020-01-05 08:00:00',
 '2020-01-05 09:00:00',
 '2020-01-05 10:00:00',
 '2020-01-05 11:00:00',
 '2020-01-05 12:00:00',
 '2020-01-05 13:00:00',
 '2020-01-05 14:00:00',
 '2020-01-05 15:00:00',
 '2020-01-05 16:00:00',
 '2020-01-05 17:00:00',
 '2020-01-05 18:00:00',
 '2020-01-05 19:00:00',
 '2020-01-05 20:00:00',
 '2020-01-05 21:00:00',
 '2020-01-05 22:00:00',
 '2020-01-05 23:00:00',
 '2020-01-06 00:00:00',
 '2020-01-06 01:00:00',
 '2020-01-06 02:00:00',
 '2020-01-06 03:00:00',
 '2020-01-06 04:00:00',
 '2020-01-06 05:00:00',
 '2020-01-06 06:00:00',
 '2020-01-06 07:00:00',
 '2020-01-06 08:00:00',
 '2020-01-06 09:00:00',
 '2020-01-06 10:00:00',
 '2020-01-06 11:00:00',
 '2020-01-06 12:00:00',
 '2020-01-06 13:00:00',
 '2020-01-06 14:00:00',
 '2020-01-06 15:00:00',
 '2020-01-06 16:00:00',
 '2020-01-06 17:00:00',
 '2020-01-06 18:00:00',
 '2020-01-06 19:00:00',
 '2020-01-06 20:00:00',
 '2020-01-06 21:00:00',
 '2020-01-06 22:00:00',
 '2020-01-06 23:00:00',
 '2020-01-07 00:00:00',
 '2020-01-07 01:00:00',
 '2020-01-07 02:00:00',
 '2020-01-07 03:00:00',
 '2020-01-07 04:00:00',
 '2020-01-07 05:00:00',
 '2020-01-07 06:00:00',
 '2020-01-07 07:00:00',
 '2020-01-07 08:00:00',
 '2020-01-07 09:00:00',
 '2020-01-07 10:00:00',
 '2020-01-07 11:00:00',
 '2020-01-07 12:00:00',
 '2020-01-07 13:00:00',
 '2020-01-07 14:00:00',
 '2020-01-07 15:00:00',
 '2020-01-07 16:00:00',
 '2020-01-07 17:00:00',
 '2020-01-07 18:00:00',
 '2020-01-07 19:00:00',
 '2020-01-07 20:00:00',
 '2020-01-07 21:00:00',
 '2020-01-07 22:00:00',
 '2020-01-07 23:00:00',
 '2020-01-08 00:00:00']

In [17]:
timestamp_date_rng = pd.to_datetime(string_date_rng, infer_datetime_format=True)

###### mengkonversi string menjadi timestamps dengan melihat formatnya

In [18]:
timestamp_date_rng

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00', '2020-01-01 05:00:00',
               '2020-01-01 06:00:00', '2020-01-01 07:00:00',
               '2020-01-01 08:00:00', '2020-01-01 09:00:00',
               ...
               '2020-01-07 15:00:00', '2020-01-07 16:00:00',
               '2020-01-07 17:00:00', '2020-01-07 18:00:00',
               '2020-01-07 19:00:00', '2020-01-07 20:00:00',
               '2020-01-07 21:00:00', '2020-01-07 22:00:00',
               '2020-01-07 23:00:00', '2020-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq=None)

###### START = mengubah daftar tanggal menjadi string lalu menjadi timestamps

In [19]:
string_date_rng_2 = ['June-01-2020', 'June-02-2020', 'June-03-2020']

In [20]:
timestamp_date_rng_2 = [datetime.strptime(x, '%B-%d-%Y') for x in string_date_rng_2]

In [21]:
timestamp_date_rng_2

[datetime.datetime(2020, 6, 1, 0, 0),
 datetime.datetime(2020, 6, 2, 0, 0),
 datetime.datetime(2020, 6, 3, 0, 0)]

In [24]:
df2 = pd.DataFrame(timestamp_date_rng_2, columns=['date'])

In [26]:
df2

        date
0 2020-06-01
1 2020-06-02
2 2020-06-03

###### END

In [27]:
df[df.index.day ==2]

                     data
datetime
2020-01-02 00:00:00    26
2020-01-02 01:00:00    87
2020-01-02 02:00:00    89
2020-01-02 03:00:00    70
2020-01-02 04:00:00    48
2020-01-02 05:00:00    12
2020-01-02 06:00:00    25
2020-01-02 07:00:00    19
2020-01-02 08:00:00    57
2020-01-02 09:00:00    14
2020-01-02 10:00:00    15
2020-01-02 11:00:00    82
2020-01-02 12:00:00    79
2020-01-02 13:00:00    49
2020-01-02 14:00:00     6
2020-01-02 15:00:00    64
2020-01-02 16:00:00    54
2020-01-02 17:00:00    33
2020-01-02 18:00:00    99
2020-01-02 19:00:00     1
2020-01-02 20:00:00     5
2020-01-02 21:00:00    31
2020-01-02 22:00:00    97
2020-01-02 23:00:00    65

###### mengindeks timestamps berdasarkan tanggal (D)

In [28]:
df['2020-01-03']

/tmp/ipykernel_1992/186698106.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2020-01-03']

                     data
datetime
2020-01-03 00:00:00    42
2020-01-03 01:00:00    78
2020-01-03 02:00:00    35
2020-01-03 03:00:00     3
2020-01-03 04:00:00    53
2020-01-03 05:00:00    50
2020-01-03 06:00:00    14
2020-01-03 07:00:00    12
2020-01-03 08:00:00     4
2020-01-03 09:00:00    88
2020-01-03 10:00:00    67
2020-01-03 11:00:00    57
2020-01-03 12:00:00    63
2020-01-03 13:00:00    31
2020-01-03 14:00:00    45
2020-01-03 15:00:00    71
2020-01-03 16:00:00    91
2020-01-03 17:00:00    54
2020-01-03 18:00:00     3
2020-01-03 19:00:00    64
2020-01-03 20:00:00    99
2020-01-03 21:00:00    73
2020-01-03 22:00:00    19
2020-01-03 23:00:00    72

###### memanggil berdasarkan tanggal yang diinginkan

In [29]:
df['2020-01-04':'2020-01-05']

                     data
datetime
2020-01-04 00:00:00    79
2020-01-04 01:00:00     7
2020-01-04 02:00:00     7
2020-01-04 03:00:00    87
2020-01-04 04:00:00    81
2020-01-04 05:00:00    63
2020-01-04 06:00:00    37
2020-01-04 07:00:00    13
2020-01-04 08:00:00    50
2020-01-04 09:00:00    99
2020-01-04 10:00:00    62
2020-01-04 11:00:00    58
2020-01-04 12:00:00    26
2020-01-04 13:00:00    84
2020-01-04 14:00:00    83
2020-01-04 15:00:00     3
2020-01-04 16:00:00    46
2020-01-04 17:00:00    43
2020-01-04 18:00:00     9
2020-01-04 19:00:00    34
2020-01-04 20:00:00    56
2020-01-04 21:00:00    12
2020-01-04 22:00:00    68
2020-01-04 23:00:00    12
2020-01-05 00:00:00    24
2020-01-05 01:00:00    69
2020-01-05 02:00:00    27
2020-01-05 03:00:00    98
2020-01-05 04:00:00    39
2020-01-05 05:00:00    14
2020-01-05 06:00:00    87
2020-01-05 07:00:00    10
2020-01-05 08:00:00    55
2020-01-05 09:00:00    49
2020-01-05 10:00:00    21
2020-01-05 11:00:00    45
2020-01-05 12:00:00    62
2020-01-05 13:00:00    62
2020-01-05 14:00:00    45
2020-01-05 15:00:00    34
2020-01-05 16:00:00    58
2020-01-05 17:00:00    93
2020-01-05 18:00:00    36
2020-01-05 19:00:00    24
2020-01-05 20:00:00    31
2020-01-05 21:00:00    62
2020-01-05 22:00:00    40
2020-01-05 23:00:00    95

###### memanggil index pada rentang waktu tertentu

In [30]:
df.resample('D').mean()

                 data
datetime
2020-01-01  51.916667
2020-01-02  46.958333
2020-01-03  49.500000
2020-01-04  46.625000
2020-01-05  49.166667
2020-01-06  49.041667
2020-01-07  51.458333
2020-01-08  17.000000

###### mengambil ulang data sampel pada frekuensi yang berbeda yang berguna untuk menghitung kesimpulan untuk frekuensi sampel baru

###### dapat dengan menggunakan nilai min, max, average, dll

In [35]:
df['rolling_sum'] = df.rolling(3).sum()

In [36]:
df.head()

                     data  rolling_sum
datetime
2020-01-01 00:00:00    20          NaN
2020-01-01 01:00:00    29          NaN
2020-01-01 02:00:00    41         90.0
2020-01-01 03:00:00    50        120.0
2020-01-01 04:00:00    71        162.0

In [38]:
df['rolling_sum_backfilled']= df['rolling_sum'].fillna(method='backfill')

In [39]:
df.head()

                     data  rolling_sum  rolling_sum_backfilled
datetime
2020-01-01 00:00:00    20          NaN                    90.0
2020-01-01 01:00:00    29          NaN                    90.0
2020-01-01 02:00:00    41         90.0                    90.0
2020-01-01 03:00:00    50        120.0                   120.0
2020-01-01 04:00:00    71        162.0                   162.0